#dropdown-button{
    margin-top: 15px;
}

.result {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 55vh;
}

.ddCorrectTextbox{
    width: 50vh;
    margin: 20px auto;
}

.incorrect {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.userAnswer{
    width: 50vh;
    margin: 10px auto;
    padding: 10px;
    background-color: lightcoral;
}

.correctAnswer{
    width: 50vh;
    margin: 10px auto;
    padding: 10px;
    background-color: lightgreen;
}

