.formgroup{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.formgroup h6{
    font-weight: bold;
}

.textbox {
    width: 50vh;
    margin-top: 10px;
} 
/* .fill-blank-wrapper{
    margin-left: 100px;
} */