#dropdown-button{
    margin-top: 15px;
}


.formgroup{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}


.input-group-display{
    width: 50vh;
    margin: 10px 0px;
}



