#dropdown-button{
    margin-top: 15px;
}


.formgroup{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.correctDropdown{
    background-color: lightgreen;
    width: 50vh;
    margin: 10px auto;
    padding: 10px;  
}

.userAnswer{
    width: 50vh;
    margin: 10px auto;
    padding: 10px;
    background-color:lightcoral;
}

.correctAnswer{
    width: 50vh;
    margin: 10px auto;
    padding: 10px;
    background-color: lightgreen;
}

