.feedback{
    background-color: antiquewhite;
}

.feedback-input{
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    width: 80%;
    margin: 50px auto;
}