.login-wrapper{
    display: flex;
    justify-content: center;
}


.card-header h2{
    text-align: center;
}

.login-textbox{
    width: 40vh;
}

.create-textbox{
    width: 50vh;
}


.password-info {
    font-size: 0.75rem;
}

Button.sign-up{
    text-decoration: underline;
}

.done{
    margin-right: 10px;
}
Button.Login{
    margin-right: 10px;
}

.login-h6{
    font-weight: bold;
}