.login-wrapper{
    display: flex;
    justify-content: center;
}


.card-header h2{
    text-align: center;
}

.login-textbox, .create-textbox{
    width: 40vw;
}



@media only screen and (min-width: 1100px) {
    .login-textbox, .create-textbox {
      width: 25vw;
    }
}



.password-info {
    font-size: 0.75rem;
}

Button.sign-up{
    text-decoration: underline;
}

.done{
    margin-right: 10px;
}
Button.Login{
    margin-right: 10px;
}

.login-h6{
    font-weight: bold;
}