


.home-screen div.home-screen-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-image: url("https://hhsfbla.com/static/media/cover.7a909140.jpg");
    background-size: cover;
}





@media only screen and (min-width: 1500px){
    .home-screen div.home-screen-content{
        background-position-y: -10rem;
    }
    
}

@media only screen and (min-width: 1200px) and (max-width: 1500px){
    .home-screen div.home-screen-content{
        background-position-y: -5rem;
    }
    
}

@media only screen and (max-width: 1000px){
    .home-screen div.home-screen-content{
        background-position-x: -6rem;
    }
    
}


.login-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 190px;
    height: 300px;
}



.create-account-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 40px;    
}

.form-login-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}



.card-header h2{
    text-align: center;
}

.login-textbox, .create-textbox{
    width: 350px;
}



@media only screen and (min-width: 1200px) {
    .login-textbox, .create-textbox {
      width: 25vw;
    }
}



.password-pop{
    padding: 0px;
}



.password-info {
    font-size: 0.75rem;
    margin-bottom: 0px;
}

Button.sign-up{
    text-decoration: underline;
}

.done{
    margin-right: 10px;
}
Button.Login{
    margin-right: 10px;
}

.login-h6{
    font-weight: bold;
}

.login-footer{
    position: absolute;
    bottom: 0;
}

@media only screen and (max-height: 950px){
    .login-footer{
      position: static;
    }
  }

.create-footer{
    position: static;
}