
*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Quiz {
  color: black;
  background-color: #1A2E40;
}
body{
  background-color: antiquewhite;
}

#Choose-Topics{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 38.5px;
  margin-bottom: 38.5px;
  padding: 0px 20px;
}

.topics-wrapper{
  width: 100%;
  --auto-grid-min-size: 20rem;
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 3rem;
  grid-auto-rows: minmax(180px, auto);
  
}

.topic-container{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: space-between;
}

.topic-image{
  width: 90%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/terms.jpg");
  background-size: cover;
  background-position: center;
  border: 1px solid antiquewhite;
  transition-property: border;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-duration: 100ms;
} 

#Know {
  background-image: url("./assets/images/numbers.png");
  /* background-size: cover */
}

#Dates{
  background-image: url("./assets/images/date-and-time.jpg");
  /* background-size: cover */
}

#People{
  background-image: url("./assets/images/people.jpg");
  /* background-size: contain; */
}

#Places{
  background-image: url("./assets/images/places.jpg");
  /* background-size: cover; */
}

#Potpourri{
  background-image: url("./assets/images/potpourri.jpg");
  /* background-size: contain; */
  background-position-y: 0rem;
  background-position-x: 1rem;
}

.middle{
  /* background-color: #5A618C; */
  background-color: #2c4358;
  color: antiquewhite;
  border: 1px solid black;
  transition-property: font;
  transition-timing-function: ease;
  transition-duration: 200ms;
}

.middle:hover{
  font-size: 1.4rem;
  background-color: #1A2E40;
  border: 1px solid black;
}  

.topic-image:hover{
  /* border: 4px ridge #1A2E40; */
  border: 4px solid #F2B3B3;
}

div.leaderboard #leaderboard{
  height: 70%;
  max-width: 700px;
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.table-heading{
  font-size: larger;
  background-color: #1A2E40;
  color: antiquewhite;
}






LoginPage#LoginPage{
  background-color: antiquewhite;
}



.loading-screen{
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #1A2E40;
}

nav ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 0px;
  padding-left: 0px;
}

nav ul>:last-child{
  margin-left: auto;
  margin-right: 10px;
}


nav ul li>:nth-child(-n+4){
  color: black;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 15px;
}

nav ul li .hidden-option{
  display: none;
  font-size: 1.25rem;
}


nav ul li:first-child a{
border-top: none;
}

nav ul li:hover {
background-color: #8AC8FF;
}

nav ul li a:hover {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out
}

nav ul li{
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: ease-in-out;
font-size: 1.25rem;
}

nav ul li .user-option:hover {
  text-decoration: none;
}

nav{
background-color: antiquewhite;
}

.statistics-modal h5{
  display: flex;
  justify-content: space-between;
  width: 35%;
  padding-bottom: 0px;
}

.statistics-modal h5 p {
  margin-bottom: 0px;
}



.stats{
  font-size: 1.25rem;
  border-radius: 0px;
}

.stats:hover,.stats:focus{
  color: black;
  text-decoration:none;
}

.logout{
  margin: auto 0px;
}

.jumbo{
  /* margin-bottom: 0; */
  background-color: #1A2E40;
  color: antiquewhite;
  padding: 30px;
  text-align: center;
  margin-bottom: 0px;
  border-radius: 0px;
}

.jumbo h4{
  font-size: 1.75rem
}


.go-back{
  position: absolute;
  top: 62.5px;
  left: 5px;
  text-decoration: underline;
  font-size: 1.25rem;
}
div.question{
  background-color: antiquewhite;
}

div.question > * {
  margin-left: 10px;
}

div.question>:nth-child(2){
  margin-left: 30px;
}
div.question h5{
  font-weight: 350;
  color: #1A2E40;
}

.fillBlankError{
  color: red;
}

h6{
  margin-top: 10px;
}

div .question {
  margin-top: 5px;
  padding: 15px;
}


.submit {
  padding: 10px 0px;
  margin-top: 5px;
  text-align: center;
  background-color: antiquewhite;
}
#submit-button{
  border: none;
}

#submit-button h4, #submission-options div button h4{
  margin: 0px;
  font-weight:600;
}

div.submissionError .submission-alert{
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: larger;
}

.take-another-quiz #retake-button{
  margin-right: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}


.take-another-quiz #retake-button h4{
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 5px;
}

.export Button{
  margin-right: 20px;
}

#submission-options{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  margin-top: 5px;
  background-color: antiquewhite;
}

.no-quizzes-disclaimer{
  text-align: center;
  margin: 20px 0px;
  font-style: oblique;
  font-weight: 600;
}

.submission .question h6{
  margin-left: 10px;
}

h4, h5, h6{
  font-weight: normal;
}
.app-footer{
  position: static;
  bottom: 0px;
  width: 100%;
  /* height: 10vh; */
  background-color: #1A2E40;
  color: antiquewhite;
  border-radius: 0px;
}


.app-footer>:first-child{
  text-align: center;
  text-shadow: 0.5px 0.5px antiquewhite;
  margin-bottom: 0px;
}

.app-footer .card-body{
  background-color: #2c4358;
}
.app-footer #fbla-links{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;  
  margin: 0 auto;
  width: 50%;
  min-width: 300px;
}

.app-footer>:last-child{
  text-align: right;
}


#fbla-links a img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#fbla-links a{
  min-width: 30px;
  max-width: 90px;
  width: 20%;
  height: 100%;
  border-radius: 50%;
}

@media only screen and (max-width: 1000px){

  .topics-wrapper{
    --auto-grid-min-size: 16rem;
  }

  .app-footer #fbla-links{
    justify-content: space-evenly;
    width: 100%;
  }

  #fbla-links a{
    width: 20%;
  }
}



@media only screen and (max-width: 550px) {

  .submission-options{
    font-size: smaller
  }
  nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black;
  }
  nav ul li .user-option{
    display:block;
    color: black;
    text-decoration: none;
    width: 100%;
    padding: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px;
    height: 100%;
  }

  nav ul li a{
    border-top: 1px solid black;
  }
  
  nav ul li:nth-child(5){
    border-left: 1px solid black;
  }


  nav ul>:nth-child(-n+3){
    grid-column: 1/3;
  }


  header.quiz-header{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .go-back{
    position: static;
    margin-bottom: 10px;
  }

  .jumbo1{
    padding-bottom: 0px;
  }

  .logout{
    display: none
  }

}
