.TF-result .correctTF{
   color: black;
   font-weight: bold;
   border: none;
   background-color: transparent;
   border: 2px solid green;
   margin: 0 5px 0 5px; 
}

.TF-result .incorrectTF{
    color: black;
    font-weight: bold;
    border: none;
    background-color: transparent;
    border: 2px solid red;
    margin: 0 5px 0 5px;
}